<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/harshal bojja/IdeaProjects/PageObjectModel/src/test/java/com/testcases"><classes><class name="com.testcases.HomePageTest"><methods><include name="verifyHomePageTitleTest"/><include name="clickOnProfileLink"/><include name="clickOnFriendsLink"/></methods></class><class name="com.testcases.LoginPageTest"><methods><include name="loginPageTitleTest"/><include name="fbLogoImageTest"/><include name="loginTest"/></methods></class><class name="com.testcases.ProfilePageTest"><methods><include name="verifyProfileLabelTest"/></methods></class></classes></test></suite>